.joinform {
  color: red;
  width: 50vw;
  height: 50vh;
  padding-top: 12vh;
  left: 25%;
  position: relative;
  display: block;
  font-size: xx-large;
}

.joinInput {
  font-weight: bold;
  display: block;
  width: 100%;
}

.joinButton {
  width: 20%;
  cursor: pointer;
}
.joinInputNButton {
  display: flex;
  width: 50vw;
  height: 2em;
}

.visibleButton {
  width: 20%;
  cursor: pointer;
}

.visibleButton span {
  font-size: x-large;
}
