.navbar {
  width: 50vw;
  left: 25%;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  position: fixed;
  z-index: 1;
  align-content: center;
  padding: 1px 30px;
  background-color: rgb(200, 200, 200);
  color: black;
  font-size: xx-large;
}

.hambuger {
  justify-self: start;
}
.switch {
  justify-self: end;
}
.logo {
  justify-self: start;
}
