.submitButtonWrapper {
  position: relative;
  width: 500px;
}

.submitButton {
  display: block;
  width: 500px;
  height: 10vh;
  background-color: rgb(200, 200, 200);
  position: relative;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.submitButton span {
  font-size: x-large;
}
